.row1 {
  display: flex;
  flex-direction: row;
}

.row1Left {
  background-color: #ff91e7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 50%;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  font-size: 1.5em;
}

.row1Left p {
  margin-left: 40px;
  margin-right: 40px;
}

.row1Left h1 {
  margin-left: 40px;
  margin-right: 40px;
}

.row1Left button {
  background-color: black;
  color: white;
  padding: 0.8em;
  border: 0;
  border-radius: 4px;
  font-size: 1em;
  width: 50%;
  margin-left: 40px;
}

.row1Right {
  background-color: #ffc900;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  border-bottom: 2px solid black;
  z-index: -1;
}

.row1Picture {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 70px;
  padding-bottom: 70px;
}

.row1Picture button {
  position: absolute;
  border-radius: 30px;
  background-color: white;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  position: absolute;
  right: 40px;
  bottom: 90px;
  width: 20%;
  flex-wrap: wrap;
}

.row1Picture button:hover {
  box-shadow: 10px 10px 0px black;
}

.row1Picture button img {
  border: 2px solid black;
  border-radius: 50%;
  margin-right: 10px;
  width: 20%;
}

.girl {
  width: 80%;
  margin: 0 auto;
}

.brush {
  width: 25%;
  position: absolute;
  right: 40px;
}

.gold {
  position: absolute;
  left: 30px;
  bottom: 34px;
  width: 40%;
}

.row1Right p {
  font-size: 1.5em;
  margin-left: 40px;
}
